.wrapper {
	display: flex;
}

.header_div {
	font-size: 30px;
	background-color: #EBF8FF;
}

.header_div_link {
	width: 150px;
}

.calculator_main_output {
	background-color: #E6E6E6;
	width: 400px;
	height: 80px;
	line-height: 80px;
	text-align: right;
	font-size: 40px;
}

.calculator_previous_main_output {
	background-color: #E6E6E6;
	width: 400px;
	height: 20px;
	border-color: aquamarine;
	text-align: right;
	border-width: 2px;
}

.calculator_button {
	border: 0;
	width: 100px;
	height: 80px;
	background-color: #FAFAFA;
	font-size: 30px;
}

.calculator_operation_button {
	background-color: #F0F0F0;
}

.equally_button {
	background-color: #8ABAE0;
}

	.equally_button:hover {
		background-color: #4AC171
	}

button:hover {
	background-color: #E6E6E6;
}
