@using Microsoft.AspNetCore.Components.Routing

<link href="/css/styles.css" rel="stylesheet" type="text/css" />
<header>
    <div class="header_div wrapper">
        <NavLink>
            <div class="header_div_link">
                calculator
            </div>
        </NavLink>
        <div class="header_div_link">
            about
        </div>
    </div>
</header>

@code {

}
